services:
  nginx:
    image: nginx:1.27
    ports:
      - "90:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app
    networks:
      - default
  kafka1:
    image: apache/kafka:3.7.2
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: "1"
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka1:9093,2@kafka2:9093,3@kafka3:9093"
      KAFKA_LISTENERS: "PLAINTEXT://:9092,INTERNAL://:9094,CONTROLLER://:9093"
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://localhost:9092,INTERNAL://kafka1:9094"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "PLAINTEXT:PLAINTEXT,INTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT"
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      KAFKA_INTER_BROKER_LISTENER_NAME: "INTERNAL"
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "false"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: "3"
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: "3"
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: "2"
      KAFKA_CLUSTER_ID: "NJxMmWRGSeO2v_yoa7oK3Q"
      KAFKA_MIN_INSYNC_REPLICAS: "2"
      KAFKA_UNCLEAN_LEADER_ELECTION_ENABLE: "false"
  kafka2:
    image: apache/kafka:3.7.2
    ports:
      - "9093:9092"
    environment:
      KAFKA_NODE_ID: "2"
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka1:9093,2@kafka2:9093,3@kafka3:9093"
      KAFKA_LISTENERS: "PLAINTEXT://:9092,INTERNAL://:9094,CONTROLLER://:9093"
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://localhost:9093,INTERNAL://kafka2:9094"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "PLAINTEXT:PLAINTEXT,INTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT"
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      KAFKA_INTER_BROKER_LISTENER_NAME: "INTERNAL"
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "false"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: "3"
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: "3"
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: "2"
      KAFKA_CLUSTER_ID: "NJxMmWRGSeO2v_yoa7oK3Q"
      KAFKA_MIN_INSYNC_REPLICAS: "2"
      KAFKA_UNCLEAN_LEADER_ELECTION_ENABLE: "false"
  kafka3:
    image: apache/kafka:3.7.2
    ports:
      - "9094:9092"
    environment:
      KAFKA_NODE_ID: "3"
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka1:9093,2@kafka2:9093,3@kafka3:9093"
      KAFKA_LISTENERS: "PLAINTEXT://:9092,INTERNAL://:9094,CONTROLLER://:9093"
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://localhost:9094,INTERNAL://kafka3:9094"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "PLAINTEXT:PLAINTEXT,INTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT"
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      KAFKA_INTER_BROKER_LISTENER_NAME: "INTERNAL"
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "false"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: "3"
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: "3"
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: "2"
      KAFKA_CLUSTER_ID: "NJxMmWRGSeO2v_yoa7oK3Q"
      KAFKA_MIN_INSYNC_REPLICAS: "2"
      KAFKA_UNCLEAN_LEADER_ELECTION_ENABLE: "false"
  mysql:
    image: mysql:8.0
    container_name: mysql
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: "242859"
      MYSQL_DATABASE: "testConcurrency"
    volumes:
      - mysql_data:/var/lib/mysql
    command: >
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci
      --server-id=1
      --log-bin=mysql-bin
      --binlog-format=ROW
      --gtid-mode=ON
      --enforce-gtid-consistency=ON

  mysql-slave:
    image: mysql:8.0
    container_name: mysql-slave
    ports:
      - "3308:3306"
    environment:
      MYSQL_ROOT_PASSWORD: "242859"
    volumes:
      - mysql_slave_data:/var/lib/mysql
    command: >
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci
      --server-id=2
      --read-only=ON
      --relay-log=relay-bin
      --gtid-mode=ON
      --enforce-gtid-consistency=ON
  proxysql:
    image: proxysql/proxysql:2.7.1
    ports:
      - "6033:6033"
      - "6032:6032"
    volumes:
      - ./proxysql.cnf:/etc/proxysql.cnf
    depends_on:
      - mysql
      - mysql-slave
    restart: unless-stopped
  app:
    build: .
    # ports:
    #   - "90:90"
    environment:
      SPRING_PROFILES_ACTIVE: "prod"
      SPRING_DATA_REDIS_PASSWORD: "242859"
      SPRING_DATA_REDIS_SENTINEL_MASTER: "mymaster"
      SPRING_DATA_REDIS_SENTINEL_NODES: "sentinel-1:26379,sentinel-2:26379,sentinel-3:26379"
      SPRING_KAFKA_BOOTSTRAP_SERVERS: "kafka1:9094,kafka2:9094,kafka3:9094"
    depends_on:
      - proxysql
      - mysql
      - mysql-slave
      - kafka1
      - kafka2
      - kafka3
      - sentinel-1
      - sentinel-2
      - sentinel-3
    restart: unless-stopped
    networks:
      - default
      - redis-net

  redis-master:
    image: redis:7.2
    hostname: redis-master
    ports:
      - "6379:6379"
    command: ["redis-server", "--requirepass", "242859"]
    volumes:
      - redis_master_data:/data
    healthcheck:
      test: ["CMD-SHELL", "redis-cli -a 242859 ping | grep -q PONG"]
      interval: 5s
      timeout: 3s
      retries: 10
    networks:
      redis-net:
        ipv4_address: 172.28.0.10
  redis-slave-1:
    image: redis:7.2
    ports:
      - "6380:6379"
    command: ["redis-server",
              "--replicaof", "redis-master", "6379",
              "--masterauth", "242859",
              "--requirepass", "242859"]
    volumes:
      - redis_slave1_data:/data
    networks:
      redis-net:
        ipv4_address: 172.28.0.11

  redis-slave-2:
    image: redis:7.2
    ports:
      - "6381:6379"
    command: ["redis-server",
              "--replicaof", "redis-master", "6379",
              "--masterauth", "242859",
              "--requirepass", "242859"]
    volumes:
      - redis_slave2_data:/data
    networks:
      redis-net:
        ipv4_address: 172.28.0.12

  sentinel-1:
    image: redis:7.2
    ports:
      - "26379:26379"
    command: redis-sentinel /etc/redis/sentinel.conf
    volumes:
      - ./sentinel-1.conf:/etc/redis/sentinel.conf
    depends_on:
      redis-master:
        condition: service_healthy
    restart: unless-stopped
    links:
      - redis-master
    networks:
      redis-net:
        ipv4_address: 172.28.0.21


  sentinel-2:
    image: redis:7.2
    ports:
      - "26380:26379"
    command: redis-sentinel /etc/redis/sentinel.conf
    volumes:
      - ./sentinel-2.conf:/etc/redis/sentinel.conf
    depends_on:
      redis-master:
        condition: service_healthy
    restart: unless-stopped
    links:
      - redis-master
    networks:
      redis-net:
        ipv4_address: 172.28.0.22

  sentinel-3:
    image: redis:7.2
    ports:
      - "26381:26379"
    command: redis-sentinel /etc/redis/sentinel.conf
    volumes:
      - ./sentinel-3.conf:/etc/redis/sentinel.conf
    depends_on:
      redis-master:
        condition: service_healthy
    restart: unless-stopped
    links:
      - redis-master
    networks:
      redis-net:
        ipv4_address: 172.28.0.23
volumes:
  mysql_data:
  mysql_slave_data:
  redis_master_data:
  redis_slave1_data:
  redis_slave2_data:
networks:
  redis-net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.28.0.0/16
