datadir="/var/lib/proxysql"

admin_variables=
{
  admin_credentials="admin:admin"
  mysql_ifaces="0.0.0.0:6032"
}

mysql_variables=
{
  threads=4
  max_connections=2048
  default_query_timeout=3600000
  interfaces="0.0.0.0:6033"
  monitor_username="monitor"
  monitor_password="monitorpass"
}

mysql_servers =
(
  { address="mysql"       , port=3306 , hostgroup_id=10 , max_connections=1000 },
  { address="mysql-slave" , port=3306 , hostgroup_id=20 , max_connections=1000 }
)

mysql_users =
(
  { username="root" , password="242859" , default_hostgroup=10 , transaction_persistent=1 }
)

mysql_query_rules =
(
  { rule_id=1, active=1, match_pattern="^SELECT.*" , destination_hostgroup=20, apply=1 },
  { rule_id=2, active=1, match_pattern=".*"        , destination_hostgroup=10, apply=1 }
)
